  <h3>Actualizaci칩n de la Contrase침a</h3>
  <form action="/updatePassword/{{user.external_id}}" method="POST" id="updatePassword">
    <div class="form-group">
      <input type="password" name="oldPassword" placeholder="Contrase침a Antigua" class="form-control" autofocus id="oldPassword">
    </div>
    <div class="form-group">
      <input type="password" name="newPassword" placeholder="Contrase침a Nueva" class="form-control" id="newPassword">
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-block">
        Actualizar
      </button>
    </div>
  </form>