<div class="card">
    {{#ifEquals user.role 'Usuario'}}
    <a href="#" data-external="`+ item.external_id + `" data-toggle="modal" data-target="#id` + item.external_id + `">
        <img style="height:300px; width:300px" class="card-img-top"
            src="http://localhost:4000/api/get-image-album/`+ item.image + `" alt="">
    </a>
    {{ else}}
    <a href="#" data-external="`+ item.external_id + `" data-toggle="modal" data-target="#id` + item.external_id + `">
        <img style="height:300px; width:300px" class="card-img-top"
            src="http://localhost:4000/api/get-image-album/`+ item.image + `" alt="">
    </a>
    {{/ ifEquals}}
    <div class="card-body">
        <h5 class="card-title text-dark text-center">` + item.title + `</h5>
        <button type="submit" class="btn btn-success">Editar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
    </div>
</div>
<div class="modal fade" id="id`+ item.external_id + `" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Editar Album</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/api/updateAlbum/`+ item.external_id + `" method="POST">
                    <div class="form-group">
                        <input type="text" name="title" value="`+ item.title + `" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea name="description" cols="30" rows="10"
                            class="form-control">`+ item.description + `</textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" name="year" class="form-control" value="`+ item.year + `">
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-external="`+ item.external_id + `"
                            class="btn btn-primary information">Ver Información</button>
                        <button type="submit" class="btn btn-success">Editar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>