<h1>Listado de Cancione</h1>
<ul class="list-group list-group-flush listSong">
</ul>
<img class="playerImage" src="http://www.sarbide.com/images/stories/solutions/CDmusic/packs_musicos/AlbumCD/album-coletas.jpg" alt="" height="100" width="100">
<div class="player">
    <h3 class="titlePlayer"></h3>
    <audio controls autoplay controlsList="nodownload" src="" class="ml-5 playerSong" id="player"  type="audio/mpeg" preload="preload"
        style="margin-top:10px; width:770px;height:85px;padding: 0px;margin-left: 151px !important;"></audio>
</div>