<div class="contaniner">
<div class="row">
  <div class="col-md-4">
    <ul class="list-group" id="listArtist">
    </ul>
  </div>
  <div class="col-md-8">
    <div class="header">
      <h2 id="arstistName"></h2>
    </div>
    <hr>
    <div class="body">
    </div>
  </div>
</div>
</div>