<div class="contaniner">
<div class="row">
  <div class="col-md-4">
    <ul class="list-group" id="listArtist">
      <a href="#" class="list-group-item list-group-item-action disabled">
        <img class="rounded-circle" src="https://cdn.pixabay.com/photo/2013/07/13/13/17/karaoke-160752_960_720.png" height="30px"
          width="30px" alt="">Todos los Artistas
      </a>
    </ul>
  </div>
  <div class="col-md-8">
    <div class="header">
      <h2 id="arstistName"></h2>
    </div>
    <hr>
    <div class="body">
    </div>
  </div>
</div>
<img class="playerImage" src="http://www.sarbide.com/images/stories/solutions/CDmusic/packs_musicos/AlbumCD/album-coletas.jpg" alt="" height="100" width="100">
<div class="player">
    <h3 class="titlePlayer"></h3>
    <audio controls controlsList="nodownload" autoplay src="" class="ml-5" id="player"  type="audio/mpeg" preload="preload"
        style="margin-top:10px; width:770px;height:85px;padding: 0px;margin-left: 151px !important;"></audio>
</div>
</div>