<form action="/api/saveSong" method="POST" id="addSong">
    <h2>Añadir Canción</h2>
    <div class="form-group">
        <input type="text" name="number" placeholder="Número" class="form-control">
    </div>
    <div class="form-group">
        <input type="text" name="title" placeholder="Título" class="form-control">
    </div>
    <div class="form-group">
        <label for="album">Seleccionar Album</label>
        <select name="album" class="form-control" id="albumList"></select>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-block">
            Guardar
        </button>
    </div>
</form>
